a {
  text-decoration: none;
  color: black;
}

.nav-title {
  font-size: 1.92rem;
  font-weight: 900;
  color: var(--default-color);
}

.nav-items {
  font-size: 1.4rem;
  font-weight: 800;
  color: var(--default-color);
}

.margin-left {
  margin-left: auto;
}

.margin-left-title {
  margin-left: 6rem;
}

.nav {
  display: flex;
  margin-top: 6rem;
  flex-direction: row;
  gap: 2rem;
  margin-right: 5rem;
}

.small-text {
  font-size: 1.6rem;
  color: var(--default-color);
  margin-left: -1rem;
}

.button-intro {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  gap: 1rem;
}

.button-start {
  text-align: center;
  border: none;
  border-radius: 11rem;
  background-color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 600;
  padding: 2rem;
  color: var(--white-color);
  cursor: pointer;
}

.github-button {
  text-align: center;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 11rem;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 2rem;
  cursor: pointer;
  color: var(--default-color-color);
}

@media only screen and (max-width: 600px) {
  .margin-left-title {
    margin-left: 1rem;
  }
  .hide {
    display: none;
  }
  .iframeHide {
    display: none;
  }
}
