<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technoracy | Input</title>
    <link rel="stylesheet" href="./input.css">
    <link rel="stylesheet" href="../../Css/navbar.css">
    <link rel="stylesheet" href="../../Css/sidebar.css">
    <link rel="stylesheet" href="../../Css/components.css">
    <link rel="stylesheet" href="../../Assets/Prism/prism.css">
</head>

<body>
    <div class="container">

        <nav class="nav">
            <a class="nav-items nav-title margin-left-title" href="../../index.html">Technoracy</a>
            <span class="nav-items small-text">v1.0</span>
            <a class="nav-items hide-nav margin-left" href="../../index.html">Docs</a>
            <a class="nav-items hide-nav " href="../../index.html">Example</a>
            <a class="nav-items hide-nav " href="../../index.html">Release</a>
            <button id="btn" class="button ham-icon"><img id="ham-icon-id"
                    src="https://api.iconify.design/cil:hamburger-menu.svg"></img></button>
        </nav>
        <div>
            <section class="hamburger" id="hide">
                <span class="side-bar-title">Get Started</span>
                <div id="line">

                </div>
                <a class="side-bar-items " href="../../Get Started/introduction.html">Introduction</a>
                <a class="side-bar-items" href="#">Colors</a>
                <a class="side-bar-items" href="#">Typography</a>
                <a class="side-bar-items" href="#">Conclusion</a>

                <span class="side-bar-title">Components</span>
                <div id="line">

                </div>
                <a class="side-bar-items" href="../Avatar/avatar.html">Avatar</a>
                <a class="side-bar-items" href="../Alert/alert.html">Alert</a>
                <a class="side-bar-items" href="../Badge/badge.html">Badge</a>
                <a class="side-bar-items" href="../Button/button.html">Button</a>
                <a class="side-bar-items" href="../Cards/card.html">Card</a>
                <a class="side-bar-items" href="../Responsive-Image/image.html">Image</a>
                <a class="side-bar-items active" href="../Input/input.html">Input</a>
                <a class="side-bar-items" href="../List/list.html">List</a>
                <a class="side-bar-items" href="../Toast/toast.html">Toast</a>
            </section>
        </div>
        <div class="wrapper">

            <div class="side-bar">

                <span class="side-bar-title">Get Started</span>
                <div id="line">
                    <hr class="hr-sideBar" />
                </div>
                <a class="side-bar-items" href="../../Get Started/introduction.html">Introduction</a>
                <a class="side-bar-items" href="#">Colors</a>
                <a class="side-bar-items" href="#">Typography</a>
                <a class="side-bar-items" href="#">Conclusion</a>

                <span class="side-bar-title">Components</span>
                <div id="line">
                    <hr class="hr-sideBar" />
                </div>

                <a class="side-bar-items" href="../Avatar/avatar.html">Avatar</a>
                <a class="side-bar-items " href="../Alert/alert.html">Alert</a>
                <a class="side-bar-items " href="../Badge/badge.html">Badge</a>
                <a class="side-bar-items " href="../Button/button.html">Button</a>
                <a class="side-bar-items" href="../Cards/card.html">Card</a>
                <a class="side-bar-items" href="../Responsive-Image//image.html">Image</a>
                <a class="side-bar-items active" href="../Input/input.html">Input</a>

                <a class="side-bar-items" href="../List/list.html">List</a>
                <a class="side-bar-items" href="../Toast/toast.html">Toast</a>

            </div>

            <div class="content">
                <span class="title">Inputs</span>
                <p class="margin-bottom-1 p-content">Inputs are necessary for user interaction with the website. Inputs
                    are used to take information from the user, and then save the data to the server, accordingly.

                </p>
                <hr class="margin-bottom-1">
                <!-- Label Inputs
 -->
                <span class="sub-title">Label Inputs
                </span>
                <p class="p-content">Label Input has a label present at the top of the input field. They can be
                    customized to show error error-message, and change color accordingly.
                </p>

                <div class="input-container">

                    <div class="input-group">
                        <label class="label">Username *</label>
                        <input class="input" type="text">
                    </div>

                    <div class="input-group input-error">
                        <label class="label" required>Password *</label>
                        <input class="input" type="password">
                        <div class="input-error-message">
                            Wrong Password. Try again.
                        </div>
                    </div>

                </div>

                <iframe class="iframeHide" src="https://carbon.now.sh/embed/S2qjDPazmskj3oVLYd8d"
                    style="width: 513px; height: 409px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
                <hr class="margin-bottom-1">

                <!-- Radio
 -->
                <span class="sub-title">Radio
                </span>
                <p class="p-content">Radio buttons allow the user to select one option from a set.
                </p>

                <div class="input-container">

                    <div>
                        <input type="radio" name="sample">
                        <label class="radio-btn">Checked</label>

                        <input type="radio" name="sample">
                        <label class="radio-btn">Unchecked</label>

                        <input type="radio" disabled name="sample">
                        <label class="radio-btn">disabled</label>
                    </div>

                </div>

                <iframe class="iframeHide" src="https://carbon.now.sh/embed/VXhy4FeQusNt1qvUwEpy"
                    style="width: 529px; height: 372px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
                <hr class="margin-bottom-1">

                <!-- Check box
 -->
                <span class="sub-title">Checkbox
                </span>
                <p class="p-content">Checkboxes allow the user to select one or more items from a set. Checkboxes can be
                    used to turn an option on or off.<br>
                    If you have multiple options appearing in a list, you can preserve space by using checkboxes instead
                    of on/off switches. If you have a single option, avoid using a checkbox and use an on/off switch
                    instead.
                </p>

                <div class="input-container">

                    <div>
                        <input type="checkbox" name="sample">
                        <label class="checkbox-btn">Checked</label>

                        <input type="checkbox" name="sample">
                        <label class="checkbox-btn">Unchecked</label>

                        <input type="checkbox" disabled name="sample">
                        <label class="checkbox-btn">disabled</label>
                    </div>

                </div>

                <iframe class="iframeHide" src="https://carbon.now.sh/embed/hJW7OuGySxCSiQIpZdOi"
                    style="width: 555px; height: 372px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
                <hr class="margin-bottom-1">


            </div>
        </div>
    </div>
    <script src="../../Assets/Prism/prism.js"></script>
    <script src="../../main.js"></script>

</body>

</html>