<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technoracy | Avatar</title>
    <link rel="stylesheet" href="./avatar.css">
    <link rel="stylesheet" href="../../Css/navbar.css">
    <link rel="stylesheet" href="../../Css/components.css">
    <link rel="stylesheet" href="../../Css/sidebar.css">


</head>

<body>
    <div class="container">

        <nav class="nav">
            <a class="nav-items nav-title margin-left-title" href="../../index.html">Technoracy</a>
            <span class="nav-items small-text">v1.0</span>
            <a class="nav-items hide-nav margin-left" href="../../index.html">Docs</a>
            <a class="nav-items hide-nav " href="../../index.html">Example</a>
            <a class="nav-items hide-nav " href="../../index.html">Release</a>
            <button id="btn" class="button ham-icon"><img id="ham-icon-id"
                    src="https://api.iconify.design/cil:hamburger-menu.svg"></img></button>

        </nav>

        <div>
            <section class="hamburger" id="hide">
                <span class="side-bar-title">Get Started</span>
                <div id="line">

                </div>
                <a class="side-bar-items " href="../../Get Started/introduction.html">Introduction</a>
                <a class="side-bar-items" href="#">Colors</a>
                <a class="side-bar-items" href="#">Typography</a>
                <a class="side-bar-items" href="#">Conclusion</a>

                <span class="side-bar-title">Components</span>
                <div id="line">

                </div>
                <a class="side-bar-items" href="./avatar.html">Avatar</a>
                <a class="side-bar-items" href="#">Alert</a>
                <a class="side-bar-items" href="../Badge/badge.html">Badge</a>
                <a class="side-bar-items" href="#">Button</a>
                <a class="side-bar-items" href="#">Card</a>
                <a class="side-bar-items" href="#">Image</a>
                <a class="side-bar-items" href="#">List</a>
                <a class="side-bar-items" href="#">Toast</a>
            </section>
        </div>

        <div class="wrapper">

            <div class="side-bar">

                <span class="side-bar-title">Get Started</span>
                <div id="line">
                    <hr class="hr-sideBar" />
                </div>
                <a class="side-bar-items" href="../../Get Started/introduction.html">Introduction</a>
                <a class="side-bar-items" href="#">Colors</a>
                <a class="side-bar-items" href="#">Typography</a>
                <a class="side-bar-items" href="#">Conclusion</a>

                <span class="side-bar-title">Components</span>
                <div id="line">
                    <hr class="hr-sideBar" />
                </div>
                <a class="side-bar-items active" href="./avatar.html">Avatar</a>
                <a class="side-bar-items" href="#">Alert</a>
                <a class="side-bar-items" href="../Badge/badge.html">Badge</a>
                <a class="side-bar-items" href="#">Button</a>
                <a class="side-bar-items" href="#">Card</a>
                <a class="side-bar-items" href="#">Image</a>
                <a class="side-bar-items" href="#">List</a>
                <a class="side-bar-items" href="#">Toast</a>

            </div>

            <div class="content">
                <span class="title">Avatar</span>
                <p class="margin-bottom-1 p-content">Avatars are user profile pictures, usually found in circular
                    shapes. Avatars can be used for 'container' objects — projects, spaces, repositories, etcetera — to
                    give them a recognisable visual identity.
                </p>
                <hr class="margin-bottom-1">
                <span class="sub-title">Profile Avatar</span>
                <p class="p-content">Profile Avatars can be created using the class 'avatar', inside the img tag.</p>

                <!-- Profile Avatar -->
                <div class="avatar">
                </div>

                <hr class="margin-bottom-1">



            </div>
        </div>
    </div>
    <script src="../../main.js"></script>
</body>

</html>