<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technoracy | Image</title>
    <link rel="stylesheet" href="./image.css">
    <link rel="stylesheet" href="../../Css/navbar.css">
    <link rel="stylesheet" href="../../Css/sidebar.css">
    <link rel="stylesheet" href="../../Css/components.css">
    <link rel="stylesheet" href="../../Assets/Prism/prism.css">
</head>

<body>
    <div class="container">

        <nav class="nav">
            <a class="nav-items nav-title margin-left-title" href="../../index.html">Technoracy</a>
            <span class="nav-items small-text">v1.0</span>
            <a class="nav-items hide-nav margin-left" href="../../index.html">Docs</a>
            <a class="nav-items hide-nav " href="../../index.html">Example</a>
            <a class="nav-items hide-nav " href="../../index.html">Release</a>
            <button id="btn" class="button ham-icon"><img id="ham-icon-id"
                    src="https://api.iconify.design/cil:hamburger-menu.svg"></img></button>
        </nav>
        <div>
            <section class="hamburger" id="hide">
                <span class="side-bar-title">Get Started</span>
                <div id="line">

                </div>
                <a class="side-bar-items " href="../../Get Started/introduction.html">Introduction</a>
                <a class="side-bar-items" href="#">Colors</a>
                <a class="side-bar-items" href="#">Typography</a>
                <a class="side-bar-items" href="#">Conclusion</a>

                <span class="side-bar-title">Components</span>
                <div id="line">

                </div>
                <a class="side-bar-items" href="../Avatar/avatar.html">Avatar</a>
                <a class="side-bar-items" href="./alert.html">Alert</a>
                <a class="side-bar-items" href="../Badge/badge.html">Badge</a>
                <a class="side-bar-items" href="../Button/button.html">Button</a>
                <a class="side-bar-items" href="../Cards/card.html">Card</a>
                <a class="side-bar-items" href="../Responsive-Image/image.html">Image</a>
                <a class="side-bar-items " href="../Input/input.html">Input</a>
                <a class="side-bar-items" href="#">List</a>
                <a class="side-bar-items" href="#">Toast</a>
            </section>
        </div>
        <div class="wrapper">

            <div class="side-bar">

                <span class="side-bar-title">Get Started</span>
                <div id="line">
                    <hr class="hr-sideBar" />
                </div>
                <a class="side-bar-items" href="../../Get Started/introduction.html">Introduction</a>
                <a class="side-bar-items" href="#">Colors</a>
                <a class="side-bar-items" href="#">Typography</a>
                <a class="side-bar-items" href="#">Conclusion</a>

                <span class="side-bar-title">Components</span>
                <div id="line">
                    <hr class="hr-sideBar" />
                </div>

                <a class="side-bar-items" href="../Avatar/avatar.html">Avatar</a>
                <a class="side-bar-items " href="./alert.html">Alert</a>
                <a class="side-bar-items " href="../Badge/badge.html">Badge</a>
                <a class="side-bar-items " href="../Button/button.html">Button</a>
                <a class="side-bar-items" href="../Cards/card.html">Card</a>
                <a class="side-bar-items active" href="../Responsive-Image/image.html">Image</a>
                <a class="side-bar-items " href="../Input/input.html">Input</a>

                <a class="side-bar-items" href="#">List</a>
                <a class="side-bar-items" href="#">Toast</a>

            </div>

            <div class="content">
                <span class="title">Responsive Image</span>
                <p class="margin-bottom-1 p-content">Responsive Image Components are used to dsiplay Images on websites,
                    which are screen responsive. They expand upto the width of the container they are in.

                </p>
                <hr class="margin-bottom-1">
                <!-- Square Image
 -->
                <span class="sub-title">Square Image
                </span>
                <p class="p-content">Square Images are the square shaped, with a default dimension of 150px X 150px.
                </p>

                <div class="image-container">

                    <img class="square-img" src="https://bit.ly/3gHXSKY">

                    <img class="square-img" src="https://bit.ly/3oIUV17">

                </div>


                <iframe class="iframeHide" src="https://carbon.now.sh/embed/eEfZVmTqpd4yXQGjiLNM"
                    style="width: 597px; height: 242px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
                <hr class="margin-bottom-1">

                <!-- Round image -->

                <span class="sub-title">Round Image
                </span>
                <p class="p-content">Round Images are the circular, with a default dimension of 150px X 150px.
                </p>

                <div class="image-container">

                    <img class="round-img" src="https://bit.ly/3gHXSKY">

                    <img class="round-img" src="https://bit.ly/3oIUV17">

                </div>

                <iframe class="iframeHide" src="https://carbon.now.sh/embed/1ND6q7CuEVHXhmmshudG"
                    style="width: 589px; height: 260px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>

                <hr class="margin-bottom-1">

                <!-- Full width image -->

                <span class="sub-title">Full Width Image
                </span>
                <p class="p-content">Full Width Image is the one that expands to cover the container it is present in.
                    Note : Resize the browser window, to see the responsive property.
                </p>

                <div class="image-container">

                    <img class="full-width-img" src="https://bit.ly/3gHXSKY">



                </div>

                <iframe class="iframeHide" src="https://carbon.now.sh/embed/JKsSKPDKRoVZjOjwyN4H"
                    style="width: 647px; height: 205px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
                <hr class="margin-bottom-1">

            </div>
        </div>
    </div>
    <script src="../../Assets/Prism/prism.js"></script>
    <script src="../../main.js"></script>

</body>

</html>