<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technoracy | Cards</title>
    <link rel="stylesheet" href="./card.css">
    <link rel="stylesheet" href="../../Css/navbar.css">
    <link rel="stylesheet" href="../../Css/sidebar.css">
    <link rel="stylesheet" href="../../Css/components.css">
    <link rel="stylesheet" href="../../Assets/Prism/prism.css">
</head>

<body>
    <div class="container">

        <nav class="nav">
            <a class="nav-items nav-title margin-left-title" href="../../index.html">Technoracy</a>
            <span class="nav-items small-text">v1.0</span>
            <a class="nav-items hide-nav margin-left" href="../../index.html">Docs</a>
            <a class="nav-items hide-nav " href="../../index.html">Example</a>
            <a class="nav-items hide-nav " href="../../index.html">Release</a>
            <button id="btn" class="button ham-icon"><img id="ham-icon-id"
                    src="https://api.iconify.design/cil:hamburger-menu.svg"></img></button>
        </nav>
        <div>
            <section class="hamburger" id="hide">
                <span class="side-bar-title">Get Started</span>
                <div id="line">

                </div>
                <a class="side-bar-items " href="../../Get Started/introduction.html">Introduction</a>
                <a class="side-bar-items" href="#">Colors</a>
                <a class="side-bar-items" href="#">Typography</a>
                <a class="side-bar-items" href="#">Conclusion</a>

                <span class="side-bar-title">Components</span>
                <div id="line">

                </div>
                <a class="side-bar-items" href="../Avatar/avatar.html">Avatar</a>
                <a class="side-bar-items" href="#">Alert</a>
                <a class="side-bar-items" href="../Badge/badge.html">Badge</a>
                <a class="side-bar-items" href="#">Button</a>
                <a class="side-bar-items" href="#">Card</a>
                <a class="side-bar-items" href="#">Image</a>
                <a class="side-bar-items" href="#">List</a>
                <a class="side-bar-items" href="#">Toast</a>
            </section>
        </div>
        <div class="wrapper">

            <div class="side-bar">

                <span class="side-bar-title">Get Started</span>
                <div id="line">
                    <hr class="hr-sideBar" />
                </div>
                <a class="side-bar-items" href="../../Get Started/introduction.html">Introduction</a>
                <a class="side-bar-items" href="#">Colors</a>
                <a class="side-bar-items" href="#">Typography</a>
                <a class="side-bar-items" href="#">Conclusion</a>

                <span class="side-bar-title">Components</span>
                <div id="line">
                    <hr class="hr-sideBar" />
                </div>

                <a class="side-bar-items" href="../Avatar/avatar.html">Avatar</a>
                <a class="side-bar-items" href="#">Alert</a>
                <a class="side-bar-items " href="./badge.html">Badge</a>
                <a class="side-bar-items " href="#">Button</a>
                <a class="side-bar-items active" href="#">Card</a>
                <a class="side-bar-items" href="#">Image</a>
                <a class="side-bar-items" href="#">List</a>
                <a class="side-bar-items" href="#">Toast</a>

            </div>

            <div class="content">
                <span class="title">Card</span>
                <p class="margin-bottom-1 p-content">Cards are surfaces that display content and actions on a single
                    topic.<br></br>
                    They should be easy to scan for relevant and actionable information. Elements, like text and images,
                    should be placed on them in a way that clearly indicates hierarchy.

                </p>
                <hr class="margin-bottom-1">
                <!-- Simple Card -->
                <span class="sub-title">Simple Card</span>
                <p class="p-content">Simple Card is the one that contains a title, a descriptive text. To use the Card
                    Component, card-title, and card-text inside a div with class card.</p>


                <div class="card-container">

                    <div class="card">
                        <div class="card-title">
                            Laptop
                        </div>
                        <div class="card-text">
                            A laptop, laptop computer, or notebook computer is a small, portable personal computer (PC)
                            with a screen and
                            alphanumeric keyboard.
                        </div>
                    </div>

                </div>


                <iframe class="iframeHide" src="https://carbon.now.sh/embed/3tYkGjj1mXtOnYZy8KDA"
                    style="width: 555px; height: 409px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
                <hr class="margin-bottom-1">

                <!-- Image Card -->
                <span class="sub-title">Image Card</span>
                <p class="p-content">Image Card is the one that contains an Image, Title & Text. To use the Card
                    Component, put card-image, card-title and card-text, inside a div with class card.</p>


                <div class="card-container">
                    <div class="card">
                        <div>
                            <img class="card-image" src="https://bit.ly/33cDb6Y">
                        </div>
                        <div class="card-title">
                            Laptop
                        </div>
                        <div class="card-text">
                            A laptop, laptop computer, or notebook computer is a small, portable personal computer (PC)
                            with a screen and
                            alphanumeric keyboard.
                        </div>
                    </div>
                </div>


                <iframe class="iframeHide" src="https://carbon.now.sh/embed/Ft0ckRvJjHJpZHy1B9CF"
                    style="width: 665px; height: 447px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>

                <hr class="margin-bottom-1">

                <!--Social Media Card Without Image-->

                <span class="sub-title">Social Media Card</span>
                <p class="p-content">Social Media Card is the one that contains an Avatar, Profile Name, Image, and
                    Description.</p>

                <div class="card-container">
                    <div class="card">
                        <div class="profile-container">
                            <img class="profile-icon" src="https://bit.ly/3J5FJD5">
                            <span> Aagman Suri</span>
                        </div>

                        <div class="card-text">
                            A laptop, laptop computer, or notebook computer is a small, portable personal computer (PC)
                            with a screen and
                            alphanumeric keyboard.
                        </div>
                    </div>
                </div>


                <iframe class="iframeHide" src="https://carbon.now.sh/embed/cfzmibTtY0dSodkqcOaO"
                    style="width: 453px; height: 484px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>

                <hr class="margin-bottom-1">

                <!--Social Media Card with image-->


                <div class="card-container">
                    <div class="card">
                        <div class="profile-container">
                            <img class="profile-icon" src="https://bit.ly/3J5FJD5">
                            <span> Aagman Suri</span>
                        </div>
                        <div>
                            <img class="card-image-social" src="https://bit.ly/3swEFkT">
                        </div>
                        <div class="card-text">
                            A laptop, laptop computer, or notebook computer is a small, portable personal computer (PC)
                            with a screen and
                            alphanumeric keyboard.
                        </div>
                    </div>
                </div>


                <iframe class="iframeHide" src="https://carbon.now.sh/embed/eZIHFW66F2g884iByaHv"
                    style="width: 504px; height: 521px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>

                <hr class="margin-bottom-1">


                <!-- eCommerce Card -->

                <span class="sub-title">eCommerce Card</span>
                <p class="p-content">eCommerce Card is used to display the products details i.e., Product shot, Name,
                    Type, Fixed badge, Price, Discount and stock.</p>

                <div class="card-container">

                    <div class="card card-box-shadow">
                        <div>
                            <img class="card-image" src="https://bit.ly/3oFd6F1">
                            <button class="card-icon position-absolute "><img
                                    src="https://api.iconify.design/simple-line-icons:heart.svg?color=currentColor"></button>
                            <div class="">
                                <span class="card-badge badge  ">New</span>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-title">Apple</div>
                            <div class="product-description">2020 Apple MacBook Pro</div>
                            <div class="price">Rs. 83000 <span class="discounted">92000</span>
                                <span class="percent-off">(62% OFF)</span>
                            </div>
                            <div class="card-btn">
                                <button class="add-to-cart">Add To Cart</button>
                                <button class="buy-now">Buy Now</button>
                            </div>
                        </div>
                    </div>


                </div>


                <iframe class="iframeHide" src="https://carbon.now.sh/embed/cfzmibTtY0dSodkqcOaO"
                    style="width: 453px; height: 484px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>

                <hr class="margin-bottom-1">




            </div>
        </div>
    </div>
    <script src="../../Assets/Prism/prism.js"></script>
    <script src="../../main.js"></script>

</body>

</html>