<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technoracy | List</title>
    <link rel="stylesheet" href="./list.css">
    <link rel="stylesheet" href="../../Css/navbar.css">
    <link rel="stylesheet" href="../../Css/sidebar.css">
    <link rel="stylesheet" href="../../Css/components.css">
    <link rel="stylesheet" href="../../Assets/Prism/prism.css">
</head>

<body>
    <div class="container">

        <nav class="nav">
            <a class="nav-items nav-title margin-left-title" href="../../index.html">Technoracy</a>
            <span class="nav-items small-text">v1.0</span>
            <a class="nav-items hide-nav margin-left" href="../../index.html">Docs</a>
            <a class="nav-items hide-nav " href="../../index.html">Example</a>
            <a class="nav-items hide-nav " href="../../index.html">Release</a>
            <button id="btn" class="button ham-icon"><img id="ham-icon-id"
                    src="https://api.iconify.design/cil:hamburger-menu.svg"></img></button>
        </nav>
        <div>
            <section class="hamburger" id="hide">
                <span class="side-bar-title">Get Started</span>
                <div id="line">

                </div>
                <a class="side-bar-items " href="../../Get Started/introduction.html">Introduction</a>
                <a class="side-bar-items" href="#">Colors</a>
                <a class="side-bar-items" href="#">Typography</a>
                <a class="side-bar-items" href="#">Conclusion</a>

                <span class="side-bar-title">Components</span>
                <div id="line">

                </div>
                <a class="side-bar-items" href="../Avatar/avatar.html">Avatar</a>
                <a class="side-bar-items" href="../Alert/alert.html">Alert</a>
                <a class="side-bar-items" href="../Badge/badge.html">Badge</a>
                <a class="side-bar-items" href="../Button/button.html">Button</a>
                <a class="side-bar-items" href="../Cards/card.html">Card</a>
                <a class="side-bar-items" href="../Responsive-Image/image.html">Image</a>
                <a class="side-bar-items " href="../Input/input.html">Input</a>
                <a class="side-bar-items" href="../List/list.html">List</a>
                <a class="side-bar-items" href="../Toast/toast.html">Toast</a>
                <a class="side-bar-items " href="../Grid/grid.html">Grid</a>
                <a class="side-bar-items " href="../Modal/modal.html">Modal</a>
                <a class="side-bar-items " href="../Navigation/navigation.html">Navigation</a>
            </section>
        </div>
        <div class="wrapper">

            <div class="side-bar">

                <span class="side-bar-title">Get Started</span>
                <div id="line">
                    <hr class="hr-sideBar" />
                </div>
                <a class="side-bar-items" href="../../Get Started/introduction.html">Introduction</a>
                <a class="side-bar-items" href="#">Colors</a>
                <a class="side-bar-items" href="#">Typography</a>
                <a class="side-bar-items" href="#">Conclusion</a>

                <span class="side-bar-title">Components</span>
                <div id="line">
                    <hr class="hr-sideBar" />
                </div>

                <a class="side-bar-items" href="../Avatar/avatar.html">Avatar</a>
                <a class="side-bar-items " href="../Alert/alert.html">Alert</a>
                <a class="side-bar-items " href="../Badge/badge.html">Badge</a>
                <a class="side-bar-items " href="../Button/button.html">Button</a>
                <a class="side-bar-items" href="../Cards/card.html">Card</a>
                <a class="side-bar-items" href="../Responsive-Image//image.html">Image</a>
                <a class="side-bar-items " href="../Input/input.html">Input</a>

                <a class="side-bar-items active
" href="../List/list.html">List</a>
                <a class="side-bar-items" href="../Toast/toast.html">Toast</a>
                <a class="side-bar-items " href="../Grid/grid.html">Grid</a>
                <a class="side-bar-items " href="../Modal/modal.html">Modal</a>
                <a class="side-bar-items " href="../Navigation/navigation.html">Navigation</a>
            </div>

            <div class="content">
                <span class="title">List</span>
                <p class="margin-bottom-1 p-content">Lists are continuous, vertical indexes of text or images. They are
                    composed of items containing primary and supplemental actions, which are represented by icons and
                    text.

                </p>
                <hr class="margin-bottom-1">
                <!-- Simple List Groups
 -->
                <span class="sub-title">Simple List Groups
                </span>
                <br></br>

                <div class="list-container">


                    <div class="list">
                        <div class="list-heading">Categories</div>
                        <hr class="hr-lists">


                        <ul class="list-items">
                            <li>Home</li>
                            <li>SmartPhones</li>
                            <li>Earphones</li>
                            <li>Watches</li>

                        </ul>
                    </div>

                </div>


                <iframe class="iframeHide" src="https://carbon.now.sh/embed/Ht81c5SV9JPcjny49xnY"
                    style="width: 521px; height: 447px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
                <hr class="margin-bottom-1">

                <!-- Nested List Groups
 -->
                <span class="sub-title">Nested List Groups
                </span>

                <br></br>
                <div class="list-container ">

                    <div class="list">
                        <div class="list-heading">Categories</div>
                        <hr class="hr-lists">


                        <ul class="list-items">
                            <li>Home</li>
                            <li>SmartPhones</li>
                            <div class="nested-list-items">
                                <li>Apple</li>
                                <li>Mi</li>
                                <li>OnePlus</li>
                            </div>
                            <li>Earphones</li>
                            <li>Watches</li>

                        </ul>
                    </div>



                </div>

                <iframe class="iframeHide" src="https://carbon.now.sh/embed/HHbKBJ0t8BUV5z4nuM0E"
                    style="width: 521px; height: 484px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
                <hr class="margin-bottom-1">

                <!-- Check box
 -->
                <span class="sub-title">Select List Groups
                </span>
                <p class="p-content">Select List groups contains items with checkboxes. They are useful for refining the
                    products search on an eCommerce website.
                </p>

                <div class="list-container">

                    <div class="list">
                        <div class="list-heading">Refine search</div>
                        <hr class="hr-lists">

                        <div class="list-heading">Brand</div>

                        <div class="margin-left-list">
                            <input type="checkbox" name="sample">
                            <label>Apple</label>
                            <br>
                            <input type="checkbox" name="sample">
                            <label>Mi</label>
                            <br>
                            <input type="checkbox" name="sample">
                            <label>OnePlus</label>
                        </div>
                    </div>

                </div>


                <iframe class="iframeHide" src="https://carbon.now.sh/embed/5oR4NECWjq6OyJRj8t8T"
                    style="width: 563px; height: 502px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
                <hr class="margin-bottom-1">


            </div>
        </div>
    </div>
    <script src="../../Assets/Prism/prism.js"></script>
    <script src="../../main.js"></script>

</body>

</html>