.rating-container {
  background-color: var(--lightGray-color);
  min-height: 20rem;
  border: 1rem solid var(--lightGray-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.checked {
  color: orange;
}
