<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technoracy | Rating</title>
    <link rel="stylesheet" href="./rating.css">
    <link rel="stylesheet" href="../../Css/navbar.css">
    <link rel="stylesheet" href="../../Css/sidebar.css">
    <link rel="stylesheet" href="../../Css/components.css">
    <link rel="stylesheet" href="../../Assets/Prism/prism.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">

        <nav class="nav">
            <a class="nav-items nav-title margin-left-title" href="../../index.html">Technoracy</a>
            <span class="nav-items small-text">v1.0</span>
            <a class="nav-items hide-nav margin-left" href="../../index.html">Docs</a>
            <a class="nav-items hide-nav " href="../../index.html">Example</a>
            <a class="nav-items hide-nav " href="../../index.html">Release</a>
            <button id="btn" class="button ham-icon"><img id="ham-icon-id"
                    src="https://api.iconify.design/cil:hamburger-menu.svg"></img></button>
        </nav>
        <div>
            <section class="hamburger" id="hide">
                <span class="side-bar-title">Get Started</span>
                <div id="line">

                </div>
                <a class="side-bar-items " href="../../Get Started/introduction.html">Introduction</a>
                <a class="side-bar-items" href="../../Get Started/colors.html">Colors</a>
                <a class="side-bar-items" href="../../Get Started/typograpgy.html">Typography</a>
                <a class="side-bar-items" href="../../Get Started/conclusion.html">Conclusion</a>

                <span class="side-bar-title">Components</span>
                <div id="line">

                </div>
                <a class="side-bar-items" href="../Avatar/avatar.html">Avatar</a>
                <a class="side-bar-items" href="../Alert/alert.html">Alert</a>
                <a class="side-bar-items" href="../Badge/badge.html">Badge</a>
                <a class="side-bar-items" href="../Button/button.html">Button</a>
                <a class="side-bar-items" href="../Cards/card.html">Card</a>
                <a class="side-bar-items" href="../Responsive-Image/image.html">Image</a>
                <a class="side-bar-items " href="../Input/input.html">Input</a>
                <a class="side-bar-items" href="../List/list.html">List</a>
                <a class="side-bar-items" href="../Toast/toast.html">Toast</a>

                <a class="side-bar-items " href="../Rating/rating.html">Rating</a>
                <a class="side-bar-items " href="../Grid/grid.html">Grid</a>
                <a class="side-bar-items " href="../Modal/modal.html">Modal</a>
                <a class="side-bar-items " href="../Navigation/navigation.html">Navigation</a>
            </section>
        </div>
        <div class="wrapper">

            <div class="side-bar">

                <span class="side-bar-title">Get Started</span>
                <div id="line">
                    <hr class="hr-sideBar" />
                </div>
                <a class="side-bar-items " href="../../Get Started/introduction.html">Introduction</a>
                <a class="side-bar-items" href="../../Get Started/colors.html">Colors</a>
                <a class="side-bar-items" href="../../Get Started/typograpgy.html">Typography</a>
                <a class="side-bar-items" href="../../Get Started/conclusion.html">Conclusion</a>

                <span class="side-bar-title">Components</span>
                <div id="line">
                    <hr class="hr-sideBar" />
                </div>

                <a class="side-bar-items" href="../Avatar/avatar.html">Avatar</a>
                <a class="side-bar-items " href="../Alert/alert.html">Alert</a>
                <a class="side-bar-items " href="../Badge/badge.html">Badge</a>
                <a class="side-bar-items " href="../Button/button.html">Button</a>
                <a class="side-bar-items" href="../Cards/card.html">Card</a>
                <a class="side-bar-items" href="../Responsive-Image//image.html">Image</a>
                <a class="side-bar-items " href="../Input/input.html">Input</a>


                <a class="side-bar-items 
" href="../List/list.html">List</a>
                <a class="side-bar-items" href="../Toast/toast.html">Toast</a>
                <a class="side-bar-items active" href="../Rating/rating.html">Rating</a>
                <a class="side-bar-items " href="../Grid/grid.html">Grid</a>

                <a class="side-bar-items " href="../Modal/modal.html">Modal</a>
                <a class="side-bar-items " href="../Navigation/navigation.html">Navigation</a>
            </div>

            <div class="content">
                <span class="title">Rating</span>
                <p class="margin-bottom-1 p-content">Rating components can be used as read-only badge or in reviews
                    section. Can be used in reviews section as form too.

                </p>
                <hr class="margin-bottom-1">
                <!-- rating
 -->

                <br></br>

                <div class="rating-container">

                    <div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>

                    </div>

                </div>

                <iframe class="iframeHide" src="https://carbon.now.sh/embed/M7NGhPlzPU9gQk6xUgdA"
                    style="width: 472px; height: 264px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>

                <hr class="margin-bottom-1">


            </div>
        </div>
    </div>
    <script src="../../Assets/Prism/prism.js"></script>
    <script src="../../main.js"></script>

</body>

</html>