<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technoracy | Badge</title>
    <link rel="stylesheet" href="./badge.css">
    <link rel="stylesheet" href="../../Css/navbar.css">
    <link rel="stylesheet" href="../../Css/sidebar.css">


</head>

<body>
    <div class="container">

        <nav class="nav">
            <a class="nav-items nav-title margin-left-title" href="../../index.html">Technoracy</a>
            <span class="nav-items small-text">v1.0</span>
            <a class="nav-items margin-left" href="../../index.html">Docs</a>
            <a class="nav-items hide" href="../../index.html">Example</a>
            <a class="nav-items hide" href="../../index.html">Release</a>
        </nav>

        <div class="wrapper">

            <div class="side-bar">

                <span class="side-bar-title">Get Started</span>
                <div id="line">
                    <hr class="hr-sideBar" />
                </div>
                <a class="side-bar-items" href="../../Get Started/introduction.html">Introduction</a>
                <a class="side-bar-items" href="#">Colors</a>
                <a class="side-bar-items" href="#">Typography</a>
                <a class="side-bar-items" href="#">Conclusion</a>

                <span class="side-bar-title">Components</span>
                <div id="line">
                    <hr class="hr-sideBar" />
                </div>
                <a class="side-bar-items" href="#">Avatar</a>
                <a class="side-bar-items" href="#">Alert</a>
                <a class="side-bar-items" href="#">Badge</a>
                <a class="side-bar-items" href="#">Button</a>
                <a class="side-bar-items" href="#">Card</a>
                <a class="side-bar-items" href="#">Image</a>
                <a class="side-bar-items" href="#">List</a>
                <a class="side-bar-items" href="#">Toast</a>

            </div>

            <div class="content">
                <span class="title">Badge</span>
                <p class="margin-bottom-1 p-content">Badges are small circles, positioned either at top-right or
                    bottom-right of the
                    parent component.
                    Badge can be used to display numbers, online / offline status, depending on where they are used.
                </p>
                <hr class="margin-bottom-1">
                <span class="sub-title">Profile Badge</span>
                <p class="p-content">Profile Badge is used to show the current status of a user.<br><span>It can be
                        used
                        with 3 variants : online | offline | dnd</span></p>

                <!-- Profile Badge -->
                <div class="badge-profile-container">
                    <div class="badge">
                        <img class="profile-badge" src="https://bit.ly/3ocYDQt"></img>
                        <div class="online"></div>
                    </div>

                    <div class="badge">
                        <img class="profile-badge" src="https://bit.ly/3ocYDQt"></img>
                        <div class="offline"></div>
                    </div>
                    <div class=" badge">
                        <img class="profile-badge" src="https://bit.ly/3ocYDQt"></img>
                        <div class="dnd"></div>
                    </div>
                </div>
                <iframe class="iframeHide" src="https://carbon.now.sh/embed/9jKmjE8y6r4AntzpJDjY"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
                <hr class="margin-bottom-1">



            </div>
        </div>
    </div>
</body>

</html>