<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technoracy | Badge</title>
    <link rel="stylesheet" href="./badge.css">
    <link rel="stylesheet" href="../../Css/navbar.css">
    <link rel="stylesheet" href="../../Css/sidebar.css">
    <link rel="stylesheet" href="../../Css/components.css">
    <link rel="stylesheet" href="../../Assets/Prism/prism.css">
</head>

<body>
    <div class="container">

        <nav class="nav">
            <a class="nav-items nav-title margin-left-title" href="../../index.html">Technoracy</a>
            <span class="nav-items small-text">v1.0</span>
            <a class="nav-items hide-nav margin-left" href="../../index.html">Docs</a>
            <a class="nav-items hide-nav " href="../../index.html">Example</a>
            <a class="nav-items hide-nav " href="../../index.html">Release</a>
            <button id="btn" class="button ham-icon"><img id="ham-icon-id"
                    src="https://api.iconify.design/cil:hamburger-menu.svg"></img></button>
        </nav>
        <div>
            <section class="hamburger" id="hide">
                <span class="side-bar-title">Get Started</span>
                <div id="line">

                </div>
                <a class="side-bar-items " href="../../Get Started/introduction.html">Introduction</a>
                <a class="side-bar-items" href="#">Colors</a>
                <a class="side-bar-items" href="#">Typography</a>
                <a class="side-bar-items" href="#">Conclusion</a>

                <span class="side-bar-title">Components</span>
                <div id="line">

                </div>
                <a class="side-bar-items" href="../Avatar/avatar.html">Avatar</a>
                <a class="side-bar-items" href="#">Alert</a>
                <a class="side-bar-items" href="../Badge/badge.html">Badge</a>
                <a class="side-bar-items" href="#">Button</a>
                <a class="side-bar-items" href="#">Card</a>
                <a class="side-bar-items" href="#">Image</a>
                <a class="side-bar-items" href="#">List</a>
                <a class="side-bar-items" href="#">Toast</a>
            </section>
        </div>
        <div class="wrapper">

            <div class="side-bar">

                <span class="side-bar-title">Get Started</span>
                <div id="line">
                    <hr class="hr-sideBar" />
                </div>
                <a class="side-bar-items" href="../../Get Started/introduction.html">Introduction</a>
                <a class="side-bar-items" href="#">Colors</a>
                <a class="side-bar-items" href="#">Typography</a>
                <a class="side-bar-items" href="#">Conclusion</a>

                <span class="side-bar-title">Components</span>
                <div id="line">
                    <hr class="hr-sideBar" />
                </div>

                <a class="side-bar-items" href="../Avatar/avatar.html">Avatar</a>
                <a class="side-bar-items" href="#">Alert</a>
                <a class="side-bar-items active" href="./badge.html">Badge</a>
                <a class="side-bar-items" href="#">Button</a>
                <a class="side-bar-items" href="#">Card</a>
                <a class="side-bar-items" href="#">Image</a>
                <a class="side-bar-items" href="#">List</a>
                <a class="side-bar-items" href="#">Toast</a>

            </div>

            <div class="content">
                <span class="title">Badge</span>
                <p class="margin-bottom-1 p-content">Badges are small circles, positioned either at top-right or
                    bottom-right of the
                    parent component.
                    Badge can be used to display numbers, online / offline status, depending on where they are used.
                </p>
                <hr class="margin-bottom-1">
                <span class="sub-title">Profile Badge</span>
                <p class="p-content">Profile Badge is used to show the current status of a user.<br><span>It can be
                        used
                        with 3 variants : online | offline | dnd</span></p>

                <!-- Profile Badge -->

                <div class="badge-container">
                    <div class="badge">
                        <img class="profile-badge" src="https://bit.ly/3J5FJD5"></img>
                        <div class="online"></div>
                    </div>

                    <div class="badge">
                        <img class="profile-badge" src="https://bit.ly/3J5FJD5"></img>
                        <div class="offline"></div>
                    </div>
                    <div class=" badge">
                        <img class="profile-badge" src="https://bit.ly/3J5FJD5"></img>
                        <div class="dnd"></div>
                    </div>
                </div>

                <iframe class="iframeHide" src="https://carbon.now.sh/embed/9jKmjE8y6r4AntzpJDjY"
                    style="width: 1024px; height: 465px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
                <hr class="margin-bottom-1">

                <!-- Number Badge -->

                <span class="sub-title">Number Badge</span>
                <p class="p-content">Number Badge is used to show the no. of items present in the parent component.
                </p>
                <div class="badge-container ">

                    <div class="number-badge">
                        <button class="badge-button ">Action</button>
                        <span class="badge-icon badge-left">16</span>
                    </div>

                    <div class="number-badge">
                        <button class="badge-button ">Action</button>
                        <span class="badge-icon badge-right">10</span>
                    </div>

                    <div class="number-badge">
                        <text>Text with a badge</text>
                        <span id="hide" class="badge-text">15</span>
                    </div>

                    <div class="number-badge">
                        <button class=" badge-button  home-btn"><img
                                src="https://api.iconify.design/ci:home-alt-fill.svg"></img></button>
                        <span class="badge-left-home">12</span>
                    </div>

                </div>
                <iframe class="iframeHide" src="https://carbon.now.sh/embed/lzNFLbsit7wIuTA7QhBl"
                    style="width: 668px; height: 726px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
                <!-- Prism Code  -->
                <!-- <pre>
                <code class="language-html">
                    &lt;div class="number-badge">
                    &lt;button class="badge-button ">Action</button>
                    &lt;span class="badge-icon badge-left">16</span>
                    &lt;/div>

                     &lt;div class="number-badge">
                         &lt;button class="badge-button ">Action&lt;/button>
                         &lt;span class="badge-icon badge-right">10&lt;/span>
                     &lt;/div>

                     &lt;div class="number-badge">
                         &lt;text>Text with a badge&lt;/text>
                         &lt;span id="hide" class="badge-text">15&lt;/span>
                     &lt;/div>

                     &lt;div class="number-badge">
                         &lt;button class=" badge-button  home-btn">&lt;img
                                 src="https://api.iconify.design/ci:home-alt-fill.svg">&lt;/img>&lt;/button>
                         &lt;span class="badge-left-home">12&lt;/span>
                     &lt;/div>
                </code>

                </pre> -->
            </div>
        </div>
    </div>
    <script src="../../Assets/Prism/prism.js"></script>
    <script src="../../main.js"></script>

</body>

</html>