.modal-container {
  background-color: var(--lightGray-color);
  min-height: 20rem;
  border: 1rem solid var(--lightGray-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.modal {
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  width: 32rem;
  min-height: 23rem;
  border-radius: 0.5rem;
}

.modal-heading {
  padding: 1rem;
  padding-bottom: 0rem;
  padding-top: 2rem;
  font-weight: 600;
  font-size: 1.8rem;
}

.modal-para {
  padding: 1rem;
}

.modal-footer {
  margin-left: auto;
  padding: 2rem;
  padding-top: 0rem;
}

.primary-btn {
  padding: 1rem;
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  min-width: 7rem;
  color: var(--white-color);
}

.secondary-btn {
  padding: 1rem;
  background-color: var(--white-color);
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  cursor: pointer;
  min-width: 7rem;
  color: var(--primary-color);
}
