<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technoracy | Alert</title>
    <link rel="stylesheet" href="./alert.css">
    <link rel="stylesheet" href="../../Css/navbar.css">
    <link rel="stylesheet" href="../../Css/sidebar.css">
    <link rel="stylesheet" href="../../Css/components.css">
    <link rel="stylesheet" href="../../Assets/Prism/prism.css">
</head>

<body>
    <div class="container">

        <nav class="nav">
            <a class="nav-items nav-title margin-left-title" href="../../index.html">Technoracy</a>
            <span class="nav-items small-text">v1.0</span>
            <a class="nav-items hide-nav margin-left" href="../../index.html">Docs</a>
            <a class="nav-items hide-nav " href="../../index.html">Example</a>
            <a class="nav-items hide-nav " href="../../index.html">Release</a>
            <button id="btn" class="button ham-icon"><img id="ham-icon-id"
                    src="https://api.iconify.design/cil:hamburger-menu.svg"></img></button>
        </nav>
        <div>
            <section class="hamburger" id="hide">
                <span class="side-bar-title">Get Started</span>
                <div id="line">

                </div>
                <a class="side-bar-items " href="../../Get Started/introduction.html">Introduction</a>
                <a class="side-bar-items" href="#">Colors</a>
                <a class="side-bar-items" href="#">Typography</a>
                <a class="side-bar-items" href="#">Conclusion</a>

                <span class="side-bar-title">Components</span>
                <div id="line">

                </div>
                <a class="side-bar-items" href="../Avatar/avatar.html">Avatar</a>
                <a class="side-bar-items" href="./alert.html">Alert</a>
                <a class="side-bar-items" href="../Badge/badge.html">Badge</a>
                <a class="side-bar-items" href="../Button/button.html">Button</a>
                <a class="side-bar-items" href="../Cards/card.html">Card</a>
                <a class="side-bar-items" href="../Responsive-Image/image.html">Image</a>
                <a class="side-bar-items " href="../Input/input.html">Input</a>
                <a class="side-bar-items" href="#">List</a>
                <a class="side-bar-items" href="#">Toast</a>
            </section>
        </div>
        <div class="wrapper">

            <div class="side-bar">

                <span class="side-bar-title">Get Started</span>
                <div id="line">
                    <hr class="hr-sideBar" />
                </div>
                <a class="side-bar-items" href="../../Get Started/introduction.html">Introduction</a>
                <a class="side-bar-items" href="#">Colors</a>
                <a class="side-bar-items" href="#">Typography</a>
                <a class="side-bar-items" href="#">Conclusion</a>

                <span class="side-bar-title">Components</span>
                <div id="line">
                    <hr class="hr-sideBar" />
                </div>

                <a class="side-bar-items" href="../Avatar/avatar.html">Avatar</a>
                <a class="side-bar-items active" href="./alert.html">Alert</a>
                <a class="side-bar-items " href="../Badge/badge.html">Badge</a>
                <a class="side-bar-items " href="../Button/button.html">Button</a>
                <a class="side-bar-items" href="../Cards/card.html">Card</a>
                <a class="side-bar-items" href="../Responsive-Image/image.html">Image</a>
                <a class="side-bar-items " href="../Input/input.html">Input</a>
                <a class="side-bar-items" href="#">List</a>
                <a class="side-bar-items" href="#">Toast</a>

            </div>

            <div class="content">
                <span class="title">Alert</span>
                <p class="margin-bottom-1 p-content">An alert displays a short, important message in a way that attracts
                    the user's attention without interrupting the user's task.

                </p>
                <hr class="margin-bottom-1">
                <!-- Simple Alert -->
                <span class="sub-title">Simple Alert</span>
                <p class="p-content">Simple Alerts can be created using alert class, followed by the variant name.
                </p>

                <div class="alert-container">

                    <div class="alert primary">
                        <strong>Primary !</strong>&nbsp This is a Primary Alert - Check it now !
                    </div>

                    <div class="alert error">
                        <strong>Error!</strong>&nbsp This is a Error Alert - Check it now !
                    </div>

                    <div class="alert success">
                        <strong>Success!</strong>&nbsp This is a Success Alert - Check it now!
                    </div>

                    <div class="alert warning">
                        <strong>Warning!</strong>&nbsp This is a Warning Alert - Check it now!
                    </div>

                </div>

                <iframe class="iframeHide" src="https://carbon.now.sh/embed/hlVq7ES30xqf6NCgpWbC"
                    style="width: 555px; height: 540px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
                <hr class="margin-bottom-1">

                <!-- Outline Alert
 -->
                <span class="sub-title">Outline Alert</span>
                <p class="p-content">Outline alerts are created by using alert class, followed by outline-variant.
                </p>

                <div class="alert-container">

                    <div class="alert outline-primary">
                        <strong>Primary !</strong>&nbsp This is a Primary Alert - Check it now !
                    </div>

                    <div class="alert outline-error">
                        <strong>Error !</strong>&nbsp This is a Error Alert - Check it now !
                    </div>

                    <div class="alert outline-success">
                        <strong>Success !</strong>&nbsp This is a Success Alert - Check it now !
                    </div>

                    <div class="alert outline-warning">
                        <strong>Warning !</strong>&nbsp This is a Warning Alert - Check it now !
                    </div>

                </div>


                <iframe class="iframeHide" src="https://carbon.now.sh/embed/SwjURmxwleVhsWBxAkuD"
                    style="width: 555px; height: 540px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
                <hr class="margin-bottom-1">

            </div>
        </div>
    </div>
    <script src="../../Assets/Prism/prism.js"></script>
    <script src="../../main.js"></script>

</body>

</html>